{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1> {#Заголовок Topics перемещается в блок page_header, и вместо простого абзацного тега ему назначается оформление за- головка#}
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li><h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>
      </h3></li>
    {% empty %}
    <!--empty сообщает Django, что делать при отсутствии элементов в списке. В нашем примере выводится сообще- ние о том, что темы еще не созданы.-->
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>
  <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3>
{% endblock content %}
