{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}{#в шаблон загружаются шаблонные теги bootstrap4. #}

{% block page_header %} {#определяется блок page_header, который описывает, для чего нужна страница. Обратите внимание: блок {% if form.errors %} удален из шаблона; django-bootstrap4 управляет ошибками формы автоматически.#}
  <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}">
    <!--добавляется атрибут class="form", после чего при отображении формы используется шаблонный тег bootstrap_form  -->
      <!--он заменяет тег  form. as_p , используемый в old login.html-->
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}
    <input type="hidden" name="next"
      value="{% url 'learning_logs:index' %}" /> <!--включается скрытый элемент формы 'next'; аргумент value сообщает Django, куда перенаправить пользователя после успешно выполненного входа. В нашем случае пользователь возвращается обратно на домашнюю страницу.-->
  </form>
{% endblock content %}